<table mat-table [dataSource]="dataSourceAccountEntries" matSort>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Concept </th>
        <td mat-cell *matCellDef="let element"> {{element.concept}} </td>

    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" [routerLink]="['/accounts/new']">
                <mat-icon aria-label="Add account entry">add_circle_outline</mat-icon>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let accountEntry; let i=index;">
            <button mat-icon-button color="accent" [routerLink]="['/accounts/edit', accountEntry.id]">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="deleteItem(accountEntry)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>