<h3>
  Create account entry
</h3>
<form [formGroup]="accountEntryForm" (ngSubmit)="onSubmit()">

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" required formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Concept" required formControlName="concept">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="number" matInput placeholder="Amount" required formControlName="amount">
    </mat-form-field>
  </div>

  <button type="submit" [disabled]="!accountEntryForm.valid" mat-stroked-button>save</button>
</form>
